name: Create a release on NuGet

on:
  workflow_dispatch:
  push:
    tags:
    - "v[0-9]+.[0-9]+.[0-9]+"    
jobs:
  release-nuget:
  
    runs-on: windows-latest

    steps:
      - uses: actions/checkout@v4
      - name: Setup .NET 10
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '10.0.x'
      - name: Verify commit exists in origin/main
        run: |
          git fetch --no-tags --prune --depth=1 origin +refs/heads/*:refs/remotes/origin/*
          git branch --remote --contains | grep origin/main
      - name: Install .NET MAUI workload
        run: dotnet workload install maui
      - name: Restore dependencies
        run: dotnet restore src/Plugin.Maui.SegmentedControl/Plugin.Maui.SegmentedControl.csproj
      - name: Build and Pack
        run: dotnet pack src/Plugin.Maui.SegmentedControl/Plugin.Maui.SegmentedControl.csproj -c Release --no-restore
      - name: Push to NuGet
        run: dotnet nuget push src\Plugin.Maui.SegmentedControl\bin\Release\*.nupkg -s https://api.nuget.org/v3/index.json -k ${{ secrets.NUGET_API_KEY }} --skip-duplicate
